In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('./temp.csv')
df

                         LineItem       Amount        Time     ReportType
0                          Income         0.00  2021-12-31  ProfitAndLoss
1         Billable Expense Income         0.00  2021-12-31  ProfitAndLoss
2                  IncomeAccount1       215.00  2021-12-31  ProfitAndLoss
3         Sales of Product Income       -12.00  2021-12-31  ProfitAndLoss
4                        Services   5036442.00  2021-12-31  ProfitAndLoss
..                            ...          ...         ...            ...
273        Opening balance equity  -5000461.00  2023-12-31   BalanceSheet
274             Retained Earnings -43994531.26  2023-12-31   BalanceSheet
275                    Net Income      8092.71  2023-12-31   BalanceSheet
276                  Total Equity -48986946.55  2023-12-31   BalanceSheet
277  TOTAL LIABILITIES AND EQUITY  -2725967.03  2023-12-31   BalanceSheet

[278 rows x 4 columns]

In [18]:
df2 = pd.pivot_table(df, values = 'Amount', columns = 'LineItem', index = 'Time', fill_value = 0.0).reset_index()
df2

LineItem,Time,ABC Product,ASSETS,Accounts Payable,Accounts Payable (A/P),Accounts Payable (A/P) - AUD,Accounts Payable (A/P) - INR,Accounts Receivable,Accounts receivable (A/R),Accumulated depreciation,...,Total Supplies,Total Vehicle expenses,Uncategorized Expense,Uniforms,Valentina,Vehicle expenses,Vehicle gas & fuel,Workers' compensation insurance,creditcard12,sandeep kumar-1
0,2021-12-31,0,0,0,7072.00,0.00,0,0,5022940.00,-47,...,100,50,0,0.00,23,0,50,0.00,-55,-2020
1,2022-12-31,-19580,0,0,46281961.76,-747.91,0,0,63732.15,-11258,...,100892,2725,200,46845.15,23,0,2725,3363.75,2051,-1980
2,2023-12-31,0,0,0,46269858.76,-1662.63,0,0,63636.15,-11258,...,0,0,0,0.00,23,0,0,0.00,2051,-1980